<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add 
			key="WebServiceTestHarness.webreference_doc.AlphaPlusSoapDoc" 
			value="http://localhost/AlphaPlusWebService/AlphaPlusSoapDoc.asmx"
		/>
		<add 
			key="WebServiceTestHarness.webreference_rpc.AlphaPlusSoapRpc" 
			value="http://localhost/AlphaPlusWebService/AlphaPlusSoapRpc.asmx"
		/>
	</appSettings>
</configuration>
