<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Vertex.Omiga.Supervisor.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Supervisor.DB"
      connectionString="Data Source=dell1;Initial Catalog=Omiga4_Epsom_Ph2_Int_AD2;Persist Security Info=False;User ID=production;Password=production"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Vertex.Omiga.Supervisor.Data.Properties.Settings>
      <setting name="DefaultConnection" serializeAs="String">
        <value>Supervisor.DB</value>
      </setting>
    </Vertex.Omiga.Supervisor.Data.Properties.Settings>
  </applicationSettings>
</configuration>
