<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Supervisor.DB"
      connectionString="Data Source=dell1;Initial Catalog=Omiga4_Epsom_Ph2_Int_AD2;Persist Security Info=False;User ID=production;Password=production"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Vertex.Omiga.Supervisor.Service.OmigaSupervisorService" behaviorConfiguration="metadataSupport" >
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:2082" />
          </baseAddresses>
        </host>
        <endpoint
            address=""
            binding="netTcpBinding"
            contract="Vertex.Omiga.Supervisor.Service.Interface.IOmigaSupervisorService"
            />
        <endpoint
            address="mex"
            binding="mexTcpBinding"
            contract="IMetadataExchange"
            />
      </service>
    </services>
  </system.serviceModel>
</configuration>