<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 	<configSections>
		<section name="taskMonitors" type="Vertex.Fsd.Omiga.Windows.Service.TaskAutomation.TaskAutomationConfigSectionHandler, TaskAutomation"></section>
		<section name="recoveryTaskMonitors" type="Vertex.Fsd.Omiga.Windows.Service.TaskAutomation.TaskAutomationRecoveryConfigSectionHandler, TaskAutomation"></section>
	</configSections>
	<!-- 
		Configuration section for the Task Automation Service
		
		taskMonitor: One entry for each separate queue to be polled
		targetQueueName: The name of the queue for which tasks are to be polled 
		pollInterval: Time interval between successive task search cycles in milliseconds 
		threads: The number of threads used to put task messages onto the MQL queue
		tasksPerCycle: The maximum number of tasks that should be read in one cycle.
					   If omitted or set to zero all tasks found in the cycle will be processed			   
		maxProcessRetries: The maximum number of retries to be attempted to complete a task 
		maxApplicationLockRetries: The maximum number of retries to be attempted if an application is locked 
		processRetryInterval: The amount of time, in minutes, to wait before a retry is attempted if a task cannot be processed
		applicationLockRetryInterval: The amount of time, in minutes, to wait before a retry is attempted if an application is locked
	-->
	<taskMonitors>
		<taskMonitor targetQueueName=".\TaskQueue" pollInterval="1200000" threads="1" tasksPerCycle="100" maxProcessRetries="5" maxApplicationLockRetries="5" processRetryInterval="1" applicationLockRetryInterval="1"/>
	</taskMonitors>
	
	<!-- Configuration section for the Task Automation Recovery Service -->
	<recoveryTaskMonitors>
		<taskMonitor targetQueueName=".\TaskQueue" pollInterval="1200000" threads="1" tasksPerCycle="100" maxProcessRetries="5" maxApplicationLockRetries="5" processRetryInterval="1" applicationLockRetryInterval="1"/>
	</recoveryTaskMonitors>
	
</configuration>
